body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
    body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
    }

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
background-image: url('/images/parallax1.jpg');
min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
background-image: url("/images/parallax2.jpg");
min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
background-image: url("/images/parallax3.jpg");
min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
}
}



/* From Uiverse.io by JulanDeAlb */ 
.hamburger {
    cursor: pointer;
}

.hamburger input {
    display: none;
}

/* When checkbox is checked, show the menu items */
.hamburger input:checked ~ .w3-bar-item {
    display: block;
}

.hamburger svg {
/* The size of the SVG defines the overall size */
    height: 2.25em;
/* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: black;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
       stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
    transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}
